doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/signup.css")
    title Sign Up
  body 
    .hero
      .hero_left 
        .hero_left_container 
          h1 Sign Up
          form(method="post")
            .field
              input(type="text", name="username", placeholder="Username", spellcheck='off',autocomplete='off', value=user ? user.username : '') 
              p.errorMsg= usernameErr ? '* ' + usernameErr.msg : ''
            .field 
              input(type="password", name="password", placeholder="Password", autocomplete='off', value=user ? user.password : '')  
              p.errorMsg= passwordErr ? '* ' + passwordErr.msg : ''
            .field   
              input(type="password", name="confirmPassword", placeholder="Confirm password", autocomplete='off', value=user ? user.confirmPassword : '')  
              p.errorMsg= confirmPasswordErr ? '* ' + confirmPasswordErr.msg : ''
            button.button_style(type="submit") Sign Up

            .links
              p Already have an account? 
                a(href='/log-in') Log in here.
              p Don't want an account? 
                a(href='/posts') Sign in as a guest.
      .hero_right
        h1 #[em Members Only]
